.root {
  // background-color: yellow;
  // /display: flex;
  // justify-content: center;
  width: 100%;
  margin-top: 100px;

}

p {
  margin-bottom: 0px;
}

.addToCartButton {
  background-color: #652FC6;
  border-color: #652FC6;
  font-weight: bold;
  font-size: 14px;
  width: 350px !important;
  height: 35px !important;

}